azulOscuro = #0B0b61
grisFondo = #E8E8E8
grisOscuro = #6E6E6E
tamanoLetra = 16px
naranja = #DD4F24
azul = #22BCE0

body
	background grisFondo
	font-family Arial
	font-size tamanoLetra	
	
	header
		background azulOscuro
		box-shadow 0 5px 0 rgba(0,0,0,0.2)
		color white
		height 100px
		
		.header-logo		
			float left			
			padding 0.5em
			width 100px				
			
			img
				border-right 2px solid white				
				padding 0.8em
				width 60px
		
	.login
		height 350px
		
		.login-panel
			background naranja
			border-radius 20px
			height 350px
			margin 30px auto
			width 350px
			text-align center
			
			.login-panel-imgfb				
				
				img 					
					margin 80px 0 0 0
					width 100%
				
			.login-panel-imgTwitter
				margin 0								
				
				img 
					height 50px
					width 90%

	footer
		background azulOscuro
		box-shadow 0 5px 0 rgba(0,0,0,0.2)
		color white
		height 60px
		margin 30px 0
		text-align center
		padding 0.5em 0		